<h3>Update Doctor</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">First Name</label>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="doctor.firstName" name="firstName">
    </div>

    <div class="form-group">
      <label for="name">Last Name</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="doctor.lastName" name="lastName">
    </div>

    <div class="form-group">
      <label for="name">Specialities</label>
      <input type="text" class="form-control" id="specialities" required [(ngModel)]="doctor.specialitiesText" name="specialities">
    </div>

    <br>

    <button type="submit" class="btn btn-success">Submit</button>
    <button (click)="list()" class="btn btn-primary" style="margin-left: 10px">Back to Doctor List</button><br>
  </form>
</div>
