<h2 xmlns="http://www.w3.org/1999/html">Examination Details</h2>

<hr/>
<div *ngIf="examination">
  <div>
    <label><b>Date: </b></label> {{examination.date}}
  </div>
  <div>
    <label><b>Diagnosis: </b></label> {{examination.diagnosis}}
  </div>
  <div>
    <label><b>Prescription: </b></label> {{examination.prescription}}
  </div>
  <div *ngIf="examination.doctor">
    <label><b>Doctor: </b></label>
    {{ examination.doctor.firstName + " " + examination.doctor.lastName + ", UIN: " + examination.doctor.uin}}
  </div>
  <div *ngIf="examination.sickLeave">
    <label><b>Sick Leave Start Date: </b></label>
    <span *ngIf="examination.sickLeave.startingDate"> {{examination.sickLeave.startingDate}} </span>
    <span *ngIf="!examination.sickLeave.startingDate"> None </span>
  </div>
  <div *ngIf="examination.sickLeave">
    <label><b>Number of days off: </b></label>
    <span *ngIf="examination.sickLeave.numberOfDays"> {{examination.sickLeave.numberOfDays}} </span>
    <span *ngIf="!examination.sickLeave.numberOfDays"> None </span>
  </div>
</div>

<br>

<button (click)="list()" class="btn btn-primary">Back to Examination List</button><br>
