<h2>Doctor Details</h2>

<hr/>
<div *ngIf="doctor">
  <div>
    <label><b>UIN: </b></label> {{doctor.uin}}
  </div>
  <div>
    <label><b>First Name: </b></label> {{doctor.firstName}}
  </div>
  <div>
    <label><b>Last Name: </b></label> {{doctor.lastName}}
  </div>
  <div>
    <label><b>Specialities: </b></label> {{doctor.specialities}}
  </div>
  <div>
    <label><b>Is General Practitioner: </b></label> {{doctor.patients.length > 0}}
  </div>
  <div *ngIf="doctor.patients.length > 0">
    <label><b>Number of patients: </b></label> {{doctor.patients.length}}
  </div>
</div>

<br>

<button (click)="list()" class="btn btn-primary">Back to Doctor List</button><br>
