<h2>Doctor Details</h2>

<hr/>
<div *ngIf="doctor">
  <div>
    <label><b>UIN: </b></label> {{doctor.uin}}
  </div>
  <div>
    <label><b>First Name: </b></label> {{doctor.firstName}}
  </div>
  <div>
    <label><b>Last Name: </b></label> {{doctor.lastName}}
  </div>
  <div>
    <label><b>Specialities: </b></label> {{doctor.specialities}}
  </div>
  <div *ngIf="doctor.patients">
    <label><b>Is General Practitioner: </b></label> {{doctor.patients.length > 0}}
  </div>
  <div *ngIf="doctor.patients && doctor.patients.length > 0">
    <label><b>Number of patients: </b></label> {{doctor.patients.length}}
  </div>
  <div *ngIf="doctor.patients && doctor.patients.length > 0">
    <label><b>Patients: </b></label>
      <ul *ngFor="let patient of doctor.patients">
        {{ patient.firstName + " " + patient.lastName + ", EGN: " + patient.egn}}
        <button (click)="deletePatient(patient.egn)" class="btn btn-danger btn-sm" style="margin-left: 10px">Delete</button>
      </ul>
  </div>
</div>

<br>

<button (click)="list()" class="btn btn-primary">Back to Doctor List</button><br>
