<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Doctor List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>UIN</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Specialities</th>
        <th>Is GP</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let doctor of doctors | async">
        <td>{{doctor.uin}}</td>
        <td>{{doctor.firstName}}</td>
        <td>{{doctor.lastName}}</td>
        <td>{{doctor.specialities}}</td>
        <td>{{doctor.patients.length > 0}}</td>
        <td>
          <button (click)="doctorDetails(doctor.uin)" class="btn btn-info">Details</button>
          <button (click)="editDoctor(doctor.uin)" class="btn btn-info" style="margin-left: 10px">Edit</button>
          <button (click)="deleteDoctor(doctor.uin)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
